*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
}
.container{
    width: 100%;
    min-height: 100vh;
}

.cotainer .pageGrid{
    width: 100%;
    display: flex;
}
