:root{
    /* --mainColor:#FF735C;
    --seecondColor:#385A64;
    --TherdColor:#C17460;
    --ComplementColor:#855040;
    --desactivColor:#ECECEC;
    --desactivColor2:#c5bcbc; */



/* 
    --mainColor: #FF6F61;      /* A vibrant coral color */
    /* --seecondColor: #3B6978;   /* A deep teal */
    /* --TherdColor: #FFA07A;     Soft light salmon */
    /* --ComplementColor: #5C4033;A rich chestnut brown */
    /* --desactivColor: #F5F5F5;  Light grey */
    /* --desactivColor2: #D3D3D3;  */ 
    
    
    /* --mainColor: #FF6347;    
    --seecondColor: #2C7873;   
    --TherdColor: #FFB347;     
    --ComplementColor: #8B4513;
    --desactivColor: #F0F0F0;  
    --desactivColor2: #B8B8B8; */

    --mainColor: #D1E9F6;    
    --color2: #F6EACB;   
    --color3: #F1D3CE;     
    --color4: #EECAD5;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');