
/** 
*? Header --------> 
*/
@media (min-width:1024px) {
    

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 65px;
        padding: 20px 50px;
        /* background-color: var(--color2); */

        & .search{
            
            background-color: #fff;
            flex-basis: 30%;
            padding: 8px 5px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            transition: all .5s linear;
            
            & input{ 
                border: none;
                outline: none;
                padding: 8px 10px;
                width: 90%;
                background: transparent;
            }

            & button{
                /* display: none; */
                border: none;
                outline: none;
                margin-right: 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        & img{
            width: 45px;
            border-radius: 10px;

        }

        & .acoount{
            
            padding: 0 10px;
            display: flex;
            align-items: center;
            /* justify-content: space-around; */
            flex-basis: 15%;
            font-size: 1.1rem;
            cursor: pointer;

            & span{
                position: relative;
                display: flex;
                align-items: center;
                padding: 5px 15px;
                background-color: var(--TherdColor);
                border-radius: 10px;
                &
                img{
                    width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
                }
            }
            & i{
                margin-left: 40px;
                display: inline-block;
                color: #eee;
                border-radius: 10px;
                padding: 5px;
                width: 30px;
                height: 26px;
                display: grid;
                place-content: center;
            }
        }

        & .accountDrop{
            position: absolute;
            top: 40px;
            left: 0px;
            background-color: var(var(--TherdColor));
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 8px 7px;
            width: 120px;
            border-radius: 10px;
            opacity: 0;

            & hr{
            outline: none;
            border: none;
            width: 90%;
            height: 3px;
            background-color: black;
            }
            & a{
                margin: 10px 0;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            }

            & i{
                margin: 0;
                margin-left: 10px;
            }
        }
    }

    .accountShow{
        position: absolute;
        top: 40px;
        left: 0px;
        background-color: coral;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px 7px;
        width: 120px;
        border-radius: 10px;
        opacity: 1;

        & hr{
        outline: none;
        border: none;
        width: 90%;
        height: 3px;
        background-color: black;
        }

        & a{
        margin: 10px 0;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;

        & i{
            margin: 0;
            margin-left: 10px;
            }
        }
    }
/**
    *? parte Sidebar Section ----------------->
*/

nav{
    min-height: 94.5vh;
    width: 300px;
    /* background: var(--color2); */

    & ul{
        list-style: none;
        /* width: 100% ; */
        padding: 40px 10px;
        /* background-color: var(--color2); */

        :hover{
            background-color: red;
        }

        & li{
            padding: 15px 15px;
            /* height: 40px; */
            margin: 0 5px 20px 0;
            background-color: var(--TherdColor);
            border-radius: 15px;



            & .DropdownListeP{
                cursor: pointer;
                display: flex;
                & i{
                    margin-right: 18px;
                }

                & span{
                    margin-left: auto;

                    /* & i{
                        transform: rotate(-90deg);
                    } */
                }
            }

            & .ListeDropdownListeP{
                padding: 0;
                margin: 0;
                background-color: red;
                display: none;
                & li{
                    margin: 10px 0;
                    background-color: black;

                }
            }

            & a{
                width: 100%;
                display: flex;
                text-decoration: none;
                color: black;
                font-size: 1.1rem;
                font-weight: 500;

                & span{
                    margin-left: auto;
                }

                & i{
                    margin-right: 15px;

                }
            }
        }
    }

}

.active{
    padding: 0;
    margin: 0;
    background-color: red;
    display: block;
    & li{
        margin: 10px 0;
        background-color: yellow;
    }
}

.rotate_angle{
    transform: rotate(90deg);
}

}


